@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42.00 100.00% 98.04%;
    --foreground: 43.20 100.00% 4.90%;

    --card: 42.00 100.00% 98.04%;
    --card-foreground: 43.20 100.00% 4.90%;

    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 43.20 100.00% 4.90%;

    --primary: 42.35 100.00% 50.00%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --secondary: 42.63 100.00% 92.55%;
    --secondary-foreground: 42.00 100.00% 1.96%;

    --muted: 43.20 100.00% 95.10%;
    --muted-foreground: 0.00 0.00% 40.00%;

    --accent: 43.20 100.00% 95.10%;
    --accent-foreground: 42.35 100.00% 50.00%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 90.20%;
    --input: 0.00 0.00% 90.20%;
    --ring: 42.35 100.00% 50.00%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 42.00 100.00% 1.96%;
    --foreground: 42.63 100.00% 92.55%;

    --card: 42.00 100.00% 1.96%;
    --card-foreground: 42.63 100.00% 92.55%;

    --popover: 42.00 100.00% 1.96%;
    --popover-foreground: 42.63 100.00% 92.55%;

    --primary: 42.35 100.00% 50.00%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --secondary: 42.47 100.00% 17.45%;
    --secondary-foreground: 0.00 0.00% 100.00%;

    --muted: 46.67 15.25% 11.57%;
    --muted-foreground: 36.00 2.01% 51.18%;

    --accent: 42.47 100.00% 17.45%;
    --accent-foreground: 42.63 100.00% 92.55%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 14.90%;
    --input: 0.00 0.00% 14.90%;
    --ring: 42.35 100.00% 50.00%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-width: 360px;
}
